@charset "utf-8";
//遮罩层  
#mid{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 300;
    display: none;                      
   }  
//登录
.login-inner {
    width: 520px;
    height: 420px;
    background: #fff;
    position: fixed;
    z-index: 700;
    left: 50%;
    top: 50%;
    margin-left: -260px;
    margin-top: -210px;
    border-top: 3px solid #DD3E42;
    box-sizing: border-box;
    padding: 53px 50px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    display:none;
}

.close{
    position:absolute;
    right:10px;
    top:0px;
}
.login-inner li {
    width:100%;
    position: relative;
    height:40px;
    margin-bottom: 15px;
    border:1px solid #ccc;
}
.login-inner h2 {
    margin-bottom: 31px;
    text-align: center;
}
.login-inner h2 span {
    display: inline-block;
    font-size: 16px;
    color: #DD3E42;
    padding-bottom: 10px;
    border-bottom: 1px solid #DD3E42;
}
.text-error {
    background: #fff;
    position: absolute;
    margin-top:-5px;
    margin-left: 15px;
    display: none;

}

.text-error, .text-important {
    color: #dc3334;
}
.inp{
    vertical-align: middle;
    padding: 10px 0 10px 10px;
    width:350px;
    border:0px;
    color: #999;
}
.btn{
    width: 150px;
    height: 40px;
    color:white;
    vertical-align: middle;
    line-height: 40px;
    margin-right: 15px;
    background: #E73736;
}
.text-hide{
    width:100%;
    height:40px;
    color:#E73736;
    line-height: 40px;
    display:none;
}
.login-r1-c1{
    margin-top:20px;
    width:150px;
    text-align: center;
    height:40px;
    float:right;
}
